<h6>{{title}}</h6>


<div class="divTable">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell"><pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></pie-chart></div>
      <div class="divTableCell"><pie-chart [data]="data2" [config]="config2" [elementId]="elementId2"></pie-chart></div>
      <div class="divTableCell"><combo-chart [data]="data3" [config]="config3" [elementId]="elementId3"></combo-chart></div>
    </div>
    <div class="divTableRow">
      <div class="divTableCell"><app-vis></app-vis></div>
      <div class="divTableCell"></div>
      <div class="divTableCell"></div>
    </div>
  </div>
</div>

