<h5>{{title}}</h5>


<div class="divTable">
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">
              <div *ngIf="data1">
              <pie-chart [data]="data1" [config]="config1" [elementId]="elementId1"></pie-chart>
              </div>
              </div>
            <div class="divTableCell">
              <div *ngIf="data2">
              <pie-chart [data]="data2" [config]="config2" [elementId]="elementId2"></pie-chart>
              </div>
              </div>
            <div class="divTableCell">
              <div *ngIf="data1">
              <combo-chart [data]="data3" [config]="config3" [elementId]="elementId3"></combo-chart>
              </div>
            </div>

        </div>
    </div>
</div>
